{% extends 'base.html.twig' %}

{% block title %}Gestion des Catégories{% endblock %}

{% block body %}

<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="mb-0">Statistiques des Pays</h3>
    <a href="{{ path('pays.new') }}" class="btn btn-primary btn-lg">
      <i class="fas fa-plus"></i> Ajouter une Pays
    </a>
  </div>

  <div class="d-flex flex-wrap gap-4 mb-4">
    <div class="alert alert-primary" role="alert">
      Nombre total de {{ title }} : <strong>{{ totalPays }}</strong>
    </div>
    <div class="alert alert-success" role="alert">
      Catégories actives : <strong>{{ activePays }}</strong>
    </div>
    <div class="alert alert-danger" role="alert">
      Catégories inactives : <strong>{{ inactivePays }}</strong>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pays</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for pays in pays %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ pays.pays | capitalize }}</td>
          <td>
            {% if pays.isActive %}
              <span class="text-success"> Actif </span>
            {% else %}
              <span class="text-danger"> Inactif </span>
            {% endif %}
          </td>
          <td class="d-flex gap-2">
            <a href="{{ path('pays.edit', { id : pays.id }) }}" class="btn btn-warning">Modifier</a>
            <form action="{{ path('pays.delete', {id: pays.id}) }}" method="post" style="display:inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                            <input type="hidden" name="_method" value="delete" /> 
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pays.id) }}" /> 
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
